{% extends 'base.html.twig' %}

{% block body %}
	<h2>Edit Post <em>({{ post.title }})</em></h2>	
    <form method="POST" action=" {{ path('demo_api_post_post', {'id': post.id}) }}">
        
    
        {{ form_errors(form) }}

        {{ form_widget(form) }}
    </form>
{% endblock %}