{% extends 'base.html.twig' %}

{% block body %}
	<h2>Create New Post</h2>	
    <form method="POST" action=" {{ path('demo_api_post_posts') }}">
    	
    
        {{ form_errors(form) }}

        {{ form_widget(form) }}
    </form>
{% endblock %}