{% extends 'base.html.twig' %}

{% block body %}
	<h2>Demo Template Posts</h2>
    
    <p>
        <a href="{{ path('demo_default_index') }}"> <button>Back to Demo List</button> </a>
    </p>
	
	<p>
		<a href="{{ path('demo_template_new') }}"><button>Add</button></a>
	</p>

    <table border="1">
    	<tr>
    		<th>S.N</th>
    		<th>Title</th>
    		<th>Author</th>    		
    		<th>Created At</th>    		
    		<th>Action</th>    		
    	</tr>
    	{% for post in posts %}
    	<tr>
    		<td>{{ loop.index }}</td>
    		<td>{{ post.title }}</td>
    		<td>{{ post.author }}</td>
    		<td>{{ post.createdAt|date('F j,Y H:i:s') }}</td>
    		<td>
    			<a href="{{ path('demo_template_edit', {'id': post.id }) }}"> Edit</a>/
    			<a href="{{ path('demo_template_delete', {'id': post.id }) }}"> Delete</a>
    		</td>
    	</tr>
    	{% endfor %}
    </table>
{% endblock %}