{% extends 'base.html.twig' %}

{% block body %}
	<h2>Edit Post <em>({{ post.title }})</em></h2>	
    <form method="POST" action="">
    	<p>
    		<input type="text" name="title" placeholder="Post Title" value="{{ post.title }}">
    	</p>
    	<p>
    		<textarea cols="30" rows="10" name="content" placeholder="Content of the Post">{{ post.content }}</textarea>
    	</p>
    	<p>
    		<input type="text" name="author" placeholder="Author Name" value="{{ post.author }}">
    	</p>
    	<p>
    		<input type="submit" name="add" value="Add">
    	</p>
    </form>
{% endblock %}