{% extends 'base.html.twig' %}

{% block body %}
	<h2>Demo Lists</h2>
	
	<p><a href="{{ path('demo_basic_index') }}"><button>Basic</button></a></p>
	<p><a href="{{ path('demo_template_index') }}"><button>Template</button></a></p>
	<p><a href="{{ path('demo_validation_index') }}"><button>Validation</button></a></p>
	<p><a href="{{ path('demo_form_index') }}"><button>Form</button></a></p>
	<p><a href="{{ path('demo_form_type_index') }}"><button>Form Type</button></a></p>

{% endblock %}