{% extends 'base.html.twig' %}

{% block body %}
	<h2>Create New Post</h2>

    {% if rawErrors %}
        <strong>Raw Errors</strong>
        <p style="color:red"> {{ rawErrors }}</p>
    {% endif %} 

    {% if errors %}
        <strong>Filtered Errors</strong>
        {% for error in errors %}
            <p style="color: red"> {{ error.message }}</p>
        {% endfor %}        
    {% endif %}	

    <form method="POST" action="">
    	<p>
    		<input type="text" name="title" placeholder="Post Title">
    	</p>
    	<p>
    		<textarea cols="30" rows="10" name="content" placeholder="Content of the Post"></textarea>
    	</p>
    	<p>
    		<input type="text" name="author" placeholder="Author Name">
    	</p>
    	<p>
    		<input type="submit" name="add" value="Add">
    	</p>
    </form>
{% endblock %}