{% extends 'base.html.twig' %}

{% block body %}
	<h2>Edit Post <em>({{ post.title }})</em></h2>	

    {{ form_start(form) }}
    
    {{ form_errors(form) }}

    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}