{% extends 'base.html.twig' %}

{% block body %}
	<h2>Create New Post</h2>

    <form action="{{ path('demo_api_new') }}" method="POST">
    
    {{ form_errors(form) }}

    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}