{% extends 'base.html.twig' %}

{% block body %}
	<h2>Create New Post</h2>

    {{ form_start(form)}}
    
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>

    <div>
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_errors(form.content) }}
    </div>

    <div>
        {{ form_label(form.author) }}
        {{ form_widget(form.author) }}
        {{ form_errors(form.author) }}
    </div>

    {{ form_end(form)}}

{% endblock %}